.timer-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.timer {
  display: flex;
  justify-content: center;
}

.remainingTime {
  position: fixed;
  top: 25px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 36pt;
  color: #bbbcc0;
}

.playpause-wrapper {
  position: fixed;
  top: 190px;
}
