.timer-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.timer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.remainingTime {
  position: relative;
  top: -105px;
  text-align: center;
}

.playpause-wrapper {
  position: relative;
  top: -10px;
}
