.settings-icon {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.timer-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 110px;
}

.timer {
  display: flex;
  justify-content: center;
}

.remaining-time {
  position: fixed;
  top: 15px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 36pt;
  color: #bbbcc0;
}

.timer-label {
  position: fixed;
  top: 75px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 14pt;
  color: #cacbcf;
}

.playpause-wrapper {
  position: fixed;
  top: 205px;
  cursor: pointer;
}

/* use CSS filters to change color of SVG play/pause icon */
/* credit to: https://codepen.io/sosuke/pen/Pjoqqp */
.filter-break {
  filter: brightness(0) saturate(100%) invert(20%) sepia(97%) saturate(484%)
    hue-rotate(195deg) brightness(95%) contrast(93%);
}
